body {
	padding:50px 80px;
	font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",sans-serif,verdana;
}

/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}
@charset "UTF-8";
/* CSS Document */

/* the overlayed element */
.apple_overlay {
	
	/* initially overlay is hidden */
	display:none;
	
	/* growing background image */
	background-image:url(../img/overlay/white.png);
	
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	width:370px;		
	
	/* some padding to layout nested elements nicely  */
	padding:35px;

	/* a little styling */	
	font-size:18px;
	text-align:left;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
	background-image:url(../images/overlayclose.png);
	position:absolute; right:0px; top:0px;
	cursor:pointer;
	height:35px;
	width:35px;
}
